<html>
<div style='float:right'>
<a href="/WelcomePage">Go Back</a><br/>
</div>
<h1>Return Movie</h1>
<form action = "/returnMovie" name="form2" method ="post">
<div>
<input type="text" name="movieID" id="movieID">MovieID</input><br/>
<input type="text" name="membershipID" id="membershipID">MembershipID</input><br/><br/>
<input type="submit" name="submit" value="ReturnMovie"/>
</div>
</html>