<html>
<head>
<title>Login</title>
</head>
<body>

<h2>Welcome Admin Update movies</h2>


<div style='float:left'>
<form action="/updatemovie" method="post">

<h4> Enter Movie Details</h4>
<p>MovieID</p>
<input type="text" name="MovieID" id="MovieID"></input><br/>
<p>Name</p>
<input type="text" name="Name" id="Name"></input><br/>
<p>Banner</p>
<input type="text" name="Banner" id="Banner"></input><br/><br/>
<p>Date</p>
<input type="Date" name="Date" id="Date"></input><br/><br/>
<p>RentAmount</p>
<input type="text" name="RentAmount" id="RentAmount"></input><br/><br/>
<p>Category</p>
<input type="text" name="Category" id="Category"></input><br/><br/>
<p>NoOfCopies</p>
<input type="text" name="NoOfCopies" id="NoOfCopies"></input><br/><br/>
<input type="submit" name="submit" value="Update movie"/>
<input type="reset" value="Reset!"></form>
</div>

</body>
</html>