<html>
<head>
</head>
<body>

<div style='float:right'>
<a href="/WelcomePage">Go Back</a><br/>
</div>
<p>User Issue  Information for MovieID <%=movieId%> <p>
<table border="2" border-collapse:collapse>
<tr padding:5px>
  <th padding:20px>Membership ID</th>
  <th padding:20px>Issue Date</th>		
  <th padding:20px>Rent Payment Status</th>
  
 </tr>
<% for(var i = 0; i < result.length; i++){ 
%>

<br/>
<td><%= result[i].MemberShipID %></td>
<td><%= result[i].IssueDate %></td>
<td><%=result[i].RentPaymentStatus%></td>
</tr>
<% } %>
</table>
</body>
</html>